<template>
    <div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                id="name"
                class="form-control"
                v-model="userName">
            <label for="message">Message</label>
            <input type="text"
                id="message"
                class="form-control"
                v-model="message">
            <button v-on:click="postData">Submit</button>
            
        </div>
    </div>
</template>


<script>
import axios from 'axios';
export default {
    name: 'post-request',
    data() {
        return {
            data: {
                userName: "",
                message: "",
            }
        }
    },

    methods: {
        postData: async function (event) {
            let body = {
                name: this.userName,
                message: this.message
            }

            let res = await axios({
                method: 'POST',
                url: 'https://024bfcwstk.execute-api.us-east-1.amazonaws.com/api/add-item',
                headers: {
                    'Content-Type': 'application/json',
                },
                data: body
            })
            window.location.reload(false)

            return res
        }
    }
}
</script>