<template>
  <div>
    <div class="messages">
      <ul>
        <div v-for="item in data" :key="item">
          <h2>{{ item.AccountName }}</h2>
          <p>{{ item.Message }}</p>
          <p>{{ item.Timestamp }}</p>
          <br />
        </div>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "get-request-post-list",
  data() {
    return {
      data: null,
      
    };
  },
  async created() {
    const response = await axios.get(
      "https://024bfcwstk.execute-api.us-east-1.amazonaws.com/api/get-items"
    );
    this.data = response.data.Items;
  },
};
</script>
