<script setup>
import MessageModule from './components/MessageModule.vue'
import FormModule from './components/FormModule.vue'
</script>

<template>
  <div>
    <header>
      <h1 class="title">Gobblerr</h1>
    </header>

    <main>
      <div class='form'>
        <FormModule />
      </div>
      
      <br />

      <div class="posts">
        <br />
        <MessageModule />
      </div>
    </main>
  </div>
</template>

<style>
@import "./assets/base.css";

.title {
  text-align: center;
  padding-top: 20px;
}

.posts {
  margin: 0 auto;
  text-align: left;
  border-style: solid;
  border-color: white;
  width: 50%;
}

.form{
  text-align: center;
}
</style>
